body {
  background-color: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

h2 {
  color: #2c3e50;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.zoom-effect {
  transition: transform 0.1s ease;
}

.zoom-effect:hover {
  transform: scale(1.03);
}


/* Dark Mode Toggle */
#toggleMode {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #f5f5f5;
  color: #333;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

/* Dark Mode Styles */
body.dark {
  background: #222 !important;
}

body.dark header h1,
body.dark section h2,
body.dark section p,
body.dark section li,
body.dark section,
body.dark footer{
  color: #f5f5f5;
  background: #222;
}

body.dark #toggleMode {
  background: #333;
  color: #fff;
}




